* {
    margin: 0;
    padding: 0;
}
.nav {
    list-style-type: none;
    height: 88px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 32px;
}
.header-nav-link{
    display: inline-block;
}
.nav-link {
    display: inline;
    width: 100%;
    color: #000;
}
a {
    padding-left: 72px;
    text-decoration: none;
    align-items: center;
    font-size: 18px;
}
a  h2 p {
    color: #000;
    font-family: Inter;
}
img {
    width: 1400px;
}
.title {
    font-size: 48px;
    text-align: center;
    margin-top: 88px;
}
.container-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    margin-top: 40px;
    margin-bottom: 40px;
   
}
p {
    padding-left: 272px;
    padding-right: 272px;
    color: #161616;
    font-family: Inter;
    font-size: 21px;
}
span {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
}
.text{
    margin-top: 24px;
    padding-left: 284px;
    padding-right: 272px;
    font-size: 18px;
}
.btn{
    background: #04959E;
    color: white;
    padding: 10px 24px;
    font-family: Inter;
    font-size: 18px;    
}
.button-btn{
text-align: center;
margin-bottom: 88px;
}
hr{
    color: black;
}
.footer{
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    text-align: center;
}